@page
@using HomeWork.Web.Models.Enum
@using Microsoft.EntityFrameworkCore.Internal
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" id="Classes" width="100%">
    @* ReSharper disable once Html.Obsolete *@
    @foreach (var table in IndexModel.Classes)
    {
        <table border="1" style="float: left">
            <tr>
                <th width:100%>HomeWork Title</th>
                <th width:100%>Due Date</th>
                <th width:100%>Status</th>
            </tr>
            @foreach (var homeWork in table.HomeWorks)
            {
                <tr>
                    <td contenteditable width:100%>@homeWork.Title</td>
                    <td width:100%>
                        <input type="date" style="border: none;" value="@homeWork.DueDate.ToString("yyyy-MM-dd")"/>
                    </td>
                    <td width:100%>
                        <select style="border: none;">
                            @foreach (var status in Enum.GetValues(typeof(Status)))
                            {
                                if (((Enum)status).ToString("F").Equals(homeWork.Status.ToString("F")))
                                {
                                    <option selected="selected">
                                        @(((Status)status).ToString("F").SplitByUpperCase().Join(" ").ToProper())
                                    </option>
                                }
                                else
                                {
                                    <option>
                                        @(((Status)status).ToString("F").SplitByUpperCase().Join(" ").ToProper())
                                    </option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            }
        </table>
    }
</div>